In [2]:
import pandas as pd
from pandas import Series, DataFrame

pd.set_option('display.width', 200)   # 한 줄에 허용되는 너비
# pd.set_option('display.max_columns', None) # 모든 컬럼 보이게

df = pd.read_csv('level1_sample_data/분개장.csv', encoding='utf-8')

df['차변금액'] = df['차변금액'].str.replace(',','').astype('int64')
df['대변금액'] = df['대변금액'].str.replace(',','').astype('int64')

df.head()

         전표일자  전표번호   계정코드    계정과목    차변금액    대변금액     거래처        승인일자 프로젝트코드
0  2016-01-01     1  53100   지급수수료  832000       0  1404.0  2016-01-01   0001
1  2016-01-01     1  13500  부가세대급금   83200       0  1404.0  2016-01-01    NaN
2  2016-01-01     1  25300    미지급금       0  915200  1404.0  2016-01-01   0031
3  2016-01-01     2  53100   지급수수료  120340       0  2161.0  2016-01-01   0026
4  2016-01-01     2  13500  부가세대급금   12034       0  2161.0  2016-01-01    NaN

In [ ]:
df['계정코드_1'] = [i[2] if i[0]>0 and i[1] == 0
                else (-i[2] if i[0] < 0 and i[1] == 0)
                else (
                    
                )]